# Node Environment
NODE_ENV=development

# Server Configuration
PORT=3000

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5430/solana_wallet

# Solana Configuration
SOLANA_RPC_URL=https://api.devnet.solana.com

# Cache Configuration (in seconds)
CACHE_TTL=300